<head>
  <link rel="stylesheet" href="styles.css" />
  <script>
    window.onload = () => {
      let header = `<%= header %>`.replace(/(&#34;)/gm, "\"");
        header = JSON.parse(header)
        let newHeader = "";
        for (i of header) {
          newHeader += `<th>${i}</th>`;
        }
        let data = `<%= data %>`.replace(/(&#34;)/gm, "\"");
        data = JSON.parse(data)
        let newData = "";
        for (row of data) {
          newData += "<tr>";
          for (column of row) {
            if (column == null) continue;
            if (column.toString().includes("%ID%")) {
              column = `<a href="/newAdj?entryID=${column.toString().slice(column.toString().indexOf("%ID%")+4, column.toString().indexOf("\n"))}">Adjust</a>\nDetails`
            }
            newData += `<td>${column}</td>`;
          }
          newData += "</tr>";
        }
        document.getElementById(
          "table"
        ).innerHTML = `<tr>${newHeader}</tr>${newData}`;
    }
  </script>
</head>
<body>
  <h1>Hello <%= username %>!</h1>
  <div>
    <table id="table"></table>
  </div>
</body>
